/** 伸缩容器**/
@mixin g-flex-wrap {
    display: flex;
}

/** 水平伸缩容器**/
@mixin g-row-flex {
    box-orient: horizontal;
    box-direction: normal;
    box-lines: multiple;
    flex-flow: row wrap;
    // justify-content: space-between;
}

/** 垂直伸缩容器**/
@mixin g-col-flex {
    box-orient: vertical;
    box-direction: normal;
    box-lines: multiple;
    flex-flow: column wrap;
}

/** 内部组件**/
@mixin g-flex-block($val: 1) {
    box-flex: $val;
    flex: $val;
}