.hide {
  display: none;
}
.main {
  width: 80%;
  margin: 0 auto;
  background: #eee;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.main .left, .main .right {
  float: left;
  width: 45%;
  padding: 20px;
}

.main .left div, .main .right div {
  padding: 5px 0;
}
.main .left label, .main .right label {
  display: block;
  padding-bottom: 10px;
}
.main .left .label, .main .right .label {
  display: inline-block;
}
.valid-error {
  color: red;
}
